
.container{
    width: 960px;
    min-height: 600px;
    margin: 0 auto;
    top: 20px;
    background-color: #ffffff;
    position: relative;
}
.content{
    width: 940px;
    margin: 0 auto;
    min-height: 600px;
    padding-top: 20px;
}
h1{
    text-align: center;
    padding-top: 5px;
}
h4{
    background-color: #de2d3a;
    height: 30px;
    line-height: 30px;
    padding-left: 3px;
    margin-top: 0px;
    color: #ffffff;
    font-weight: normal;
}
h6{
    text-align: center;
}
span{
    color: #de2d3a;
}
#menu{
    width: 940px;
    height: 40px;
    background-color: #799ac0;
}
#menu ol{
    margin: 0 auto;
    padding: 0px;
}
#menu ol li{
    list-style: none;
    float: left;
    width: 100px;
    line-height: 40px;
    text-align: center;
}
#menu ol li a{
    display: block;
    text-decoration: none;
}
#menu ol li a:hover{
    background-color: #4076ab;
}
body{
    background-color: #e6e7e9;
    // background-image:url('../images/bg.png');
}
.separator{
    height: 10px;
}
.sidebar-container{
    width: 269px;
    min-height: 600px;
    display: block;
    float: left;
}
#separator{
    width: 5px;
    min-height: 600px;
    display: block;
    float: left;
}
.main-content{
    width: 666px;
    //background-color: red;
    //border: 1px solid black;
    min-height: 420px;
    display: block;
    float: left;
    border-bottom: 2px solid #e6e7e9;
}
p1{
    font-size: 50px;
    font-weight:  bold;
    display: block;
}
p2{
    font-style: italic;
    display: block;
}
p2 span{
    text-decoration: underline;
}
p3{
    font-size: large;
}
p3 a:hover{
    color: #ff0000;
}
.article{
    width: 666px;
    min-height: 500px;
    display: block;
    border-bottom: 2px solid #e6e7e9;
    float: left;
}
.sidebar{
    width: 269px;
    height: 200px;
    background-color: #e6e7e9;
    display:block;
}
.sidebar ul{
    padding: 0px;
    margin-top: 0px;
}
.sidebar ul li{
    list-style: none;
    padding-left: 3px;
    height: 30px;
    margin-top: 0px;
    line-height: 30px;
}
.sidebar ul li a:hover{
    color: #de2d3a;
}
.sidebar2{
    width: 269px;
    height: 100px;
    background-color: #e6e7e9;
}
.sidebar3{
    width: 269px;
    height: 100px;
    background-color: #e6e7e9;
}
.sidebar4{
    width: 269px;
    height: 150px;
    background-color: #e6e7e9;
}
.sidebar4 ul{
    padding: 0px;
    margin-top: 0px;
}
.sidebar4 ul li{
    list-style: none;
    padding-left: 3px;
    height: 30px;
    margin-top: 0px;
    line-height: 30px;
}
.sidebar4 ul li a:hover{
    color: #de2d3a;
}
.footer{
    width: 940px;
    height: 200px;
    background-color: #de2d3a;
    //border: 1px solid black;
    position: relative;
    clear: both;
}
.footerin{
    width: 940px;
    height: 150px;
    //border: 1px solid black;
    margin: 0 auto;
    background-color: #e6e7e9;
    position: absolute;
    margin-top: 20px;
    //padding-top: 20px;
}
.clear{
    width: 313px;
    height: 150px;
    display: block;
    float: left;
}
.clear ul{
    list-style: none;
}
.clear ul li{
    border-bottom: 1px dashed #8b6666;
    height: 30px;
}
.middle{
    width: 314px;
    height: 150px;
    display: block;
    float: left;
}
.middle ul{
    list-style: none;
}
.middle ul li{
    border-bottom: 1px dashed #8b6666;
    height: 30px;
}
.end{
    width: 313px;
    height: 150px;
    display: block;
    float: left;
}
.end ul{
    list-style: none;
}
.end ul li{
    border-bottom: 1px dashed #8b6666;
    height: 30px;
}
ul li a:hover{
    color:#a57866;
}
.lower{
    width: 400px;
    height: 200px;
    background: #660066;
    position: relative;
    z-index: 10;
}
.upper{
    width: 300px;
    height: 150px;
    background: olivedrab;
    position: relative;
    top: -170px;
    //z-index: 30;
    left: 30px;
}
.example{
    width: 800px;
    height: 400px;
    //border: 1px solid black;
    margin: 0 auto;
    border-radius:3px;
    background-color: #f1f1f1;
    position: relative;
    z-index: 10;
    top: 30px;
}
.on{
    width: 750px;
    height: 250px;
    //border: 1px solid black;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    top: -325px;
    border-left: 4px solid #8ac007;
}
.button{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    bottom: 20px;
    padding-left: 30px;
    position: absolute;
    left: 25px;
    background-color: #8ac007;
}
.example a{
    position: absolute;
    bottom: 20px;
    left: 25px;
    display: block;
    height: 40px;
    width:  120px;
    background: #8ac007;
    line-height: 40px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.example a:hover{
    background-color:#ffffff;
    color: #8ac007;
    border-radius: 3px;
    border: 1px solid #8ac007;

}
.forms {
    background-image:url('../images/bg.png');
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

